<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花が咲くまでの手入れ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>本日のお手入れ</h1>
    </header>
    <ul>
        {% for task in tasks %}
        <li>{{ task }}</li>
        {% endfor %}
    </ul>
    <audio>
        <source src="sound.mp3" type="audio/mp3">
      
     </audio>

    <form action="/complete_task" method="POST">
        <button class="button" type="submit">手入れ終了</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="static/{{ img }}"  width="150">
    <br>

    <a href="/" class="button">トップページへ戻る</a>
</body>
</html>
