
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>らくらく目覚まし</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <header>
        <h1>ソダテル</h1>
        
    </header>

    <div class="container">
        <h2>直近のアラーム</h2>
        <p>{{ next_alarm }}</p>

        <button class="button" onclick="location.href='{{ url_for('add_alarm') }}'">アラームを設定</button>
        <button class="button" onclick="location.href='{{ url_for('set_cultivation_period') }}'">栽培期間を設定</button>

        
    </div>
    <script>
        setInterval(function() {
            fetch('/check_alarm')
                .then(response => response.text())
                .then(data => {
                    if (data === 'redirect') {
                        window.location.href = '/alarm_page';
                    }
                });
        }, 5000);
    </script>
</body>
</html>
